{
  "request" : {
    "url": "/?apikey=foobar&r=json&t=<%= title %>",
    "method": "GET"
  },
  "response": {
    "status": 200,
    "body": "<%= render(File.expand_path("config/mocks/stubs/templates/body-omdb.json.erb")).remove_newlines.escape_double_quotes %>",
    "headers": {
      "Content-Type": "application/json",
      "Date": "<%= Date.today %>"
    }
  }
}